@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@layer utilities{
    .card-shadow{
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
}

body{
    overflow-x: hidden;
}

.anton{
    font-family: 'Anton', sans-serif;
}

.blur-comp::before{
content:"";
  position:absolute;
  z-index:-1;
  -webkit-backdrop-filter: blur(80px);
  backdrop-filter: blur(80px);
  top:0;
  left:0;
  right:0;
  bottom:0;
}